<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>InsertionPerformanceTests</key>
		<dict>
			<key>testAppendingToList()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>5.9577</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2015-12-17 02:35:56</string>
				</dict>
			</dict>
			<key>testAppendingToUnsortedArray()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0016776</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2015-12-17 02:35:56</string>
				</dict>
			</dict>
			<key>testInsertingIntoMap()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.6035</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2015-12-17 02:42:26</string>
				</dict>
			</dict>
			<key>testInsertingIntoUnsortedDictionary()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.036477</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2015-12-17 02:42:26</string>
				</dict>
			</dict>
			<key>testInsertingToInlinedSortedArray()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.5955</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2015-12-17 02:42:26</string>
				</dict>
			</dict>
			<key>testInsertingToSortedArray()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>17.432</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2015-12-17 02:42:26</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
